<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <appSettings>
        <add key="EMAIL" value="agnaldo@50minutos.com.br"/>
        <add key="DB" value="HomologacaoDb"/>
    </appSettings>
    
    <connectionStrings>
        <add name="LocalDb" connectionString="Data Source=.\sqlexpress;AttachDbFilename=C:\Users\Admin\Desktop\AtentoASPNET\006-Dados\001-ADO.NET\App_Data\Db.mdf;Integrated Security=True"/>
        <add name="HomologacaoDb" connectionString="Data Source=.;Initial Catalog=DB001;Integrated Security=True"/>
        <add name="ProducaoDb" connectionString="Data Source=192.168.100.12;Initial Catalog=AMBEV_VENDAS;Integrated Security=True"/>
    </connectionStrings>
</configuration>
